<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Livy</title>

    <!--css link-->
    <link rel="stylesheet" href="../assets/style.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!--Box icon-->
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
    <!--Swiper js-->
    <link rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css"/>
  </head>
<body>
    
    <!--Navbar-->
    <header class="header" id="header">
      <nav class="navbar navbar-expand-lg navbar-light fixed-top">
          <a class="navbar-brand text-center" href="#">LIVY</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <i class='bx bx-menu-alt-right'></i>
          </button>
        
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item ">
                <a class="nav-link" href="#hero">Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#services">Service</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="#">Pricing</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="#">Features</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="#">Contact</a>
              </li>
            </ul>
          </div>
        </nav>
  </header>


    <!--Home section-->
    <section class="hero d-flex align-items-center" id="hero">
      <div class="container">
        <div class="row">
          <div class="col-md-6 d-flex flex-column hero-col">
            <h1 class="hero-title" id="hero-title">WE HELP YOUR BUSINESS <br> TO STAY IN <span>MOTION</span></h1>
            <p class="hero-p" id="hero-p">
             Livy is a full-services digital marketing agencios and<br>acts as a full-service providor to create the right <br>
             setup and marketing mix for each product and <br>brand to deliver measurable and sustainable results
            </p>
          </div>
          <div class="col-md-6 d-flex justify-content-center">
            <img src="../assets/img/meeting.png" class="hero-img" alt="">
            <i class='bx bxs-caret-right-circle text-center' style='color:#e05753'></i>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <p class="hero-learnmore" id="hero-learnmore">Learn More <span><a href="#crew" class="arrow"><i class='bx bx-down-arrow-alt' style='color:#e05753'  ></i></a></span></p>
          </div>
        </div>
      </div>
    </section>


    <!--Crew section-->
    <section class="crew" id="crew">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <p class="section-title" id="section-title">THE CREW</p>
            <h1 class="section-header" id="ection-header">Behind a great job<br> there is always a<br> great team.</h1>
            <p class="section-p" id="section-p">Each is a team made up of hard-working <br> indivicuals who are committed to you and <br>your business.</p>
            <p class="viewmore" id="viewmore">View More<span><a href="" class="crew-arrow"><i class='bx bx-up-arrow-alt' style='color:#e05753'></i></a></span></p>
          </div>
          <div class="col-md-6">
            <div class="row first-crew-row">
              <div class="col">
                <div class="box">
                  <img src="../assets/img/crew/james.png" class="photo" alt="">
                  <div class="crew-info">
                    <h1 class="name">James</h1>
                    <p class="subname">programmer</p>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="box">
                  <img src="../assets/img/crew/elena.png" class="photo" alt="">
                  <div class="crew-info">
                    <h1 class="name">Elena</h1>
                    <p class="subname">ceo/founder</p>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="box">
                  <img src="../assets/img/crew/billy.png" class="photo" alt="">
                  <div class="crew-info">
                    <h1 class="name">Billy</h1>
                    <p class="subname">Manager</p>
                  </div>
                </div>
              </div>
            </div>

            <div class="row second-crew-row">
              <div class="col">
                <div class="box">
                  <img src="../assets/img/crew/bryan.png" class="photo" alt="">
                  <div class="crew-info">
                    <h1 class="name">Bryan</h1>
                    <p class="subname">programmer</p>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="box">
                  <img src="../assets/img/crew/irish.png" class="photo" alt="">
                  <div class="crew-info">
                    <h1 class="name">Irish</h1>
                    <p class="subname">Marketer</p>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="box">
                  <img src="../assets/img/crew/irene.png" class="photo" alt="">
                  <div class="crew-info">
                    <h1 class="name">Irene</h1>
                    <p class="subname">Designer</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>


    <!--Services section-->
    <section class="services " id="services">
      <div class="container">
        <div class="row">
          <div class="col">
            <p class="section-title" id="section-title">Services</p>
            <h1 class="section-header" id="ection-header">Marketing Agency</h1>
          </div>
        </div>
        <div class="row services-row">
          <div class="col-md-4">
            <i class='bx bxl-magento' style='color:#e05753'></i>
            <h2 class="services-title" id="services-title">Agency</h2>
            <p class="services-p" id="sevices-p">We work as partners,side by <br>side.whith agile methodlogies<br> and a top tier customer<br> service.</p>
          </div>
          <div class="col-md-4">
            <i class='bx bx-conversation' style='color:#e05753'></i>
            <h2 class="services-title" id="services-title">Consultancy</h2>
            <p class="services-p" id="sevices-p">If you are looking for a <br>strategic,high impact<br> solution,we have what you <br>need.</p>
          </div>
          <div class="col-md-4">
            <i class='bx bx-share-alt' style='color:#e05753'></i>
            <h2 class="services-title" id="services-title">Automation</h2>
            <p class="services-p" id="sevices-p">Mark creates and optimizes <br>your paid media compaigns<br> and provides you with full <br>automated daily reports.</p>
          </div>
        </div>
      </div>
    </section>


    <!--Client section-->
    <section class="client " id="client">
      <!--<div class="container">-->
        <div class="row ">
          <div class="col">
            <p class="section-title d-flex justify-content-center" id="section-title">clients</p>
            <h1 class="section-header d-flex justify-content-center" id="ection-header">Trusted over 100+ clients</h1>
          </div>
        </div>
      

     <!-- Swiper -->
      <div class="swiper mySwiper swiper-row">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <img src="../assets/img/client/tahungoding.png"  alt="" class="client-img">
          </div>
          <div class="swiper-slide">
            <img src="../assets/img/client/google1.png"  alt="" class="client-img">
          </div>
          <div class="swiper-slide">
            <img src="../assets/img/client/furnify.png"  alt="" class="client-img">
          </div>
          <div class="swiper-slide">
            <img src="../assets/img/client/neutron.png"  alt="" class="client-img">
          </div>
          <div class="swiper-slide">
            <img src="../assets/img/client/taste.png"  alt="" class="client-img">
          </div>
        </div>
        <div class="swiper-pagination"></div>
      </div>




      <div class="row third-row ">
          <div class="col-md-8 ">
            <h1 class="client-title">Lets Boost Your Business With Us !</h1>
            <p class="client-p">Power up your business with our best digital marketing services.</p>
          </div>
          <div class="col-md-4 justify-content-center text-left">
            <p class="get-started ">Get Started<span><a href="" class="client-arrow"><i class='bx bx-right-arrow-alt' style='color:#e05753'></i></a></span></p>
          </div>
        </div>
      </div>
      

      
    </section>


    <!--Footer section-->
    <section class="footer" id="footer">
      <div class="container">
        <div class="row">
          <div class="col-md-3">
            <a href="#" class="footer-title-logo"><h1 class="footer-logo">LIVY</h1></a>
            <h3 class="footer-subtitle" id="footer-subtitle">LIVY HEADQUARTER</h3>
            <p class="footer-p" id="footer-p">512 N Beaudry Ave,Los Angeles<br>California,US 90201</p>
          </div>
  
          <div class="col-md-3">
            <h3 class="footer-title" id="footer-title">Menu</h3>
            <ul class="Footer-link-list">
              <li><a href="#" class="footer-link">Home</a></li>
              <li><a href="#" class="footer-link">Service</a></li>
              <li><a href="#" class="footer-link">pricing</a></li>
              <li><a href="#" class="footer-link">Features</a></li>
            </ul>
          </div>
  
          <div class="col-md-3">
            <h3 class="footer-title" id="footer-title">Contact Us</h3>
            <ul class="Footer-link-list">
              <li><a href="#" class="footer-link">+1714 868 1122</a></li>
              <li><a href="#" class="footer-link">Livyagency.com</a></li>
              <li><a href="#" class="footer-link">Livyagency@gmail.com</a></li>
            </ul>
          </div>
  
          <div class="col-md-3">
            <h3 class="footer-title" id="footer-title">Social Media</h3>
            <div class="social-icon">
              <a href="#" class="footer-social" ><i class='bx bxl-instagram-alt'></i></a>
              <a href="#" class="footer-social" ><i class='bx bxl-twitter'></i></a>
              <a href="#" class="footer-social" ><i class='bx bxl-facebook-circle'></i></a>
            </div>
          </div>
  
        </div>
      </div>
    </section>


    <!--Footer -->
    <footer class="footer-rights" id="footer-rights">
      <div class="container">
        <div class="row">
          <div class="col d-flex justify-content-center text-center">
            <p class="footer-terms">Build with passion by Maysam</p>
          </div>
        </div>
      </div>
    </footer>


    <!--========== SCROLL TOP ==========-->
    <a href="#" class="scrolltop" id="scroll-top"> 
      <i class='bx bx-chevron-up scrolltop__icon'></i>
    </a> 
     
    





    <!--Swiper js-->
    <script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>
    <!--Main js-->
    <script src="../assets/index.js" ></script>
    <!--Bootstrap JS-->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script> 
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>